<div class="flex flex-col justify-center h-full py-12">
  <div class="self-center items-center flex flex-col sm:flex-row w-full md:w-5/6 xl:w-2/3 px-4 sm:px-0">
    <div class="w-full text-center sm:text-left sm:w-1/2 py-12 sm:px-8">
      <h1 class="tracking-wide text-5xl mb-6">
        We are <span class="text-gray-800 font-bold tracking tracking-widest bg-gradient-to-r from-indigo-700 to-purple-600 inline-block text-transparent bg-clip-text">Frassati</span>
      </h1>
      <h2 class="font-bold tracking-widest text-4xl">
        Uniting students and young professionals in
      </h2>
      <span class="content__container block font-bold text-browngray text-2xl my-6">
        <ul class="content__container__list">
          <li class="content__container__list__item xl:pl-3">Purpose</li>
          <li class="content__container__list__item xl:pl-3">Culture</li>
          <li class="content__container__list__item xl:pl-3">Debate</li>
          <li class="content__container__list__item xl:pl-3">Activity</li>
          <li class="content__container__list__item xl:pl-3">Reading</li>
          <li class="content__container__list__item xl:pl-3">Learning</li>
          <li class="content__container__list__item xl:pl-3">Sports</li>
        </ul>
      </span>
      <p class="font-bold tracking-widest text-4xl">...towards Christ!</p>
    </div>
    <div class="w-full sm:w-1/2">
      <img src="{{ env.baseUrl }}img/icon.svg" alt="Frassati header">
    </div>
  </div>
</div>
<div class="flex flex-row w-full justify-center pb-12">
  <a class="bg-gradient-to-r from-indigo-700 to-purple-500 text-white shadow-none focus:ring-4 text-base focus:ring-blue-300 font-medium rounded-3xl px-7 py-3 focus:outline-none dark:focus:ring-blue-800" href="#about">
    More Information
  </a>
</div>
